@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    background-color: bisque;
}
#list{
    list-style: none;
}
.image-grid{
    --gap: 50px;
    --num-cols:2;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--row-height);
    gap:var(--gap)
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}